java/target/
java/pom.xml.tag
java/pom.xml.releaseBackup
java/pom.xml.versionsBackup
java/pom.xml.next
java/release.properties
java/dependency-reduced-pom.xml
java/buildNumber.properties
java/.mvn/timing.properties
java/.mvn/wrapper/maven-wrapper.jar

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

vba/XB64.xlsm
vba/~$XB64.xlsm
js/_linter.txt
js/.eslintrc.json
js/_ESLint.bat
js/_linter.bat
